/*@import "compass";*/
@import "normalize";
@import "colors";

/*@include sticky-footer(55px);*/

body{
  font-family: Calibri, Verdana, sans-serif;
  width: 100%;
  font-size: 20px;
}

#nav{
  margin-left: 100px;
  margin-top: 50px;
  background-image: url("../img/points_menu.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 30px;
  padding-left: 10px;
  li{
    display: inline-block;
    font-size: 20px;
    margin-right: 50px;

    a{
      text-decoration: none;
      font-weight: bold;
      color: black;
    }
    a:hover, a.actif{
      color: $bleu;
    }
  }
}

#logo{
  float: right;
  margin-right: 100px;
  margin-top: -55px;
}

#bandeau{
  background-color: #84bbff;
  color: white;
  height: 350px;
  box-shadow: 1px 1px 12px #aaa;
  div{
    margin-left: 100px;
    position: relative;
    top: 90px;
    h2{
      font-size: 36px;
    }
    p{
      width: 385px;
      font-size: 18px;
      margin-left: 0;
    }
    img{
      float: right;
      position: relative;
      top: -300px;
      right: 150px;
    }
  }
}

h1{
  color: $bleu;
  font-size: 30px;
  height: 40px;
  margin-left: 100px;
  background-image: url("../img/points_titre.png");
  background-repeat: no-repeat;
  &.hidden{
    visibility: hidden;
    position: absolute;
  }
}

.bleu{
  color: $bleu;
}

img, div, p{
  margin-left: 100px;
}

p.bleu{
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 800px;
  span{
    color: #be5c86;
    font-weight: bold;
  }
}

div img{
  margin-left: 0;
  margin-right: 10px;
}

.realisations{
  div{
    width: 85%;
    img{
      border: 1px solid #aaa;
      padding: 3px;
    }
  }
  p{
    text-align: right;
    width: 1150px;
  }
  a{
    color: $orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
}

.references{
  margin-top: 40px;
  font-size: 20px;
}

footer{
  border-top: 2px solid $orange;
  margin: 0px 100px 0px 100px;
  p{
    margin-left: 0px;
    font-size: 14px;
  }
  .icone{
    height: 50px;
    text-align: right;
    margin-top: -40px;
  }
}

.galerie{
  margin-left: 100px;
  img{
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
  }
}

.moi{
  position: relative;
  width: 1000px;
  height: 300px;
  p{
    position: relative;
    font-size: 20px;
    left: 420px;
    bottom: 255px;
    width: 300px;
  }
}

.vcard{
  font-size: 18px;
  margin-bottom: -10px;
  float: right;
  margin-top: -125px;
  margin-right: 100px;
  p{
    text-align: right;
  }
}

form{
  margin: 50px 0px 20px 400px;
  width: 500px;
  input{
    margin-bottom: 15px;
  }
  #envoi{
    margin-left: 200px;
    margin-top: 15px;
  }
  label{
    display: inline-block;
    text-align: right;
    width: 135px;
  }
}

.blog h1+article{
  border-top: 0px;
}

article{
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  border-top: 1px solid $orange;
  h2{
    font-size: 25px;
    color: $bleu;
    margin-left: 20px;
    margin-bottom: -5px;
  }
  .date{
    font-size: 14px;
    margin-left: 20px;
  }
  p{
    margin-left: 20px;
    font-size: 18px;
  }
}

ul{
  margin-left: 100px;
  width: 1109px;
  li{
    padding-bottom: 5px;
  }
}

.ficheSebio{
  position: relative;
  margin-top: 40px;
  height: 750px;
  img{
    box-shadow: 0px 0px 10px #777; 
  }
  p{
    width: 500px;
    position: relative;
    top: -780px;
    left: 500px;
    &.annee{
      font-size: 14px;
    }
  }
  table{
    width: 200px;
    position: relative;
    top: -780px;
    left: 600px;
    text-align: center;
    td{
      width: 100px;
    }
    .true{
      color: #53c182;
    }
    .false{
      color: #ae2c2c;
    }
  }
  a{
    text-decoration: none;
    color: $orange;
  }
  a:hover{
    color: $bleu;
  }
}

.ficheAppliseries{
  position: relative;
  margin-top: 40px;
  height: 450px;
  img{
    box-shadow: 0px 0px 10px #777; 
  }
  p{
    width: 500px;
    position: relative;
    top: -470px;
    left: 530px;
    &.annee{
      font-size: 14px;
    }
  }
  table{
    width: 200px;
    position: relative;
    top: -470px;
    left: 630px;
    text-align: center;
    td{
      width: 100px;
    }
    .true{
      color: #53c182;
    }
    .false{
      color: #ae2c2c;
    }
  }
  a{
    text-decoration: none;
    color: $orange;
  }
  a:hover{
    color: $bleu;
  }
}